@use "../abstracts" as *;

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .nav {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;

    li {
      margin-left: 36px;
    }
    a {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: -7px;
        left: 0;
        background-color: $color-primary;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
    }

    a.active::before {
      color: $color-light-s;
      transform: scaleX(1);
    }
  }
  @include tablet {
    .nav {
      display: flex;
    }
  }
}

/*
.header {
  &-inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subtitle {
    margin-left: 4px;
    margin-top: 10px;
  }
  }

  .nav {
    margin-bottom: 4px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-left: 36px;
    }
  }

  a {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      bottom: -6px;
      left: 0;
      background-color: $color-primary;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
  }

  a.active::before {
    transform: scaleX(1);
  }
}

*/
